*.class

*.log

*.jar
*.war
*.ear
*.zip
*.rar

**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

.classpath
.project
.settings/

.idea/
*.iml
*.iws
*.ipr
out/

.vscode/

.DS_Store
Thumbs.db